<div class="container">
  <h2>Structural Directives</h2>

  <!-- <h3>ngIf Demo</h3>
  <p *ngIf="display" >This is ngIf Example</p> 
  <button (click)="addEle(true)">Add Element</button>
  <button (click)="reEle(false)">Remove Element</button>
  <hr> -->

  <!-- <h3>ngIf,else Demo</h3>
  <p *ngIf="display; else elseBlock">Content to render when condition is true.</p>
  <ng-template #elseBlock>Content to render when condition is false.</ng-template><br>
  <button (click)="addEle(true)">Add Element</button>
  <button (click)="reEle(false)">Remove Element</button>
  <hr> -->

  <!-- <h3>ngIf with then and else Demo</h3>
  <p *ngIf="display; then thenblock; else elseBlock"></p>
  <ng-template #thenblock>Content to render when condition is true.</ng-template><br>
  <ng-template #elseBlock>Content to render when condition is false.</ng-template><br>
  <button (click)="addEle(true)">Add Element</button>
  <button (click)="reEle(false)">Remove Element</button>
  <hr>  -->

  <!-- <h3>ngSwitch Demo</h3>
  <select (change)="setValue($event)">
    <option value="">Select</option>
    <option value="One">One</option>
    <option value="Two">Two</option>
    <option value="Three">Three</option>
    <option value="Four">Four</option>
  </select>
  <div [ngSwitch]="chose">
    <h4 *ngSwitchCase="'One'">One</h4>
    <h4 *ngSwitchCase="'Two'">Two</h4>
    <h4 *ngSwitchCase="'Three'">Three</h4>
    <h4 *ngSwitchCase="'Four'">Four</h4>
    <h4 *ngSwitchDefault="">Default</h4>
  </div>
  <hr> -->

  <!-- <h3>ngFor Demo</h3>
  <h4>Display All Elements</h4>
  <li *ngFor="let val of students">
    {{val}}
  </li>
  <hr>
  <h4 *ngFor="let val of students">
    {{val}}
  </h4>
  <h4 *ngFor="let val of students;let i=index">
    {{i+1}}:{{val}}
  </h4>
  <hr>
  <h4 *ngFor="let val of students;let f=first,let l=last">
    {{1}}:{{val}}-{{f}}-{{l}}
  </h4>
  <hr>
  <h4 *ngFor="let val of students;let e=even,let o=odd">
    {{1}}:{{val}}-{{e}}-{{o}}
  </h4>
  <hr> -->

  <!-- <h3>TrackBy with ngFor Demo</h3>
  <table border="1">
    <tr>
      <th>SNo</th>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
    </tr>
    <tr *ngFor="let val of data;let i=index; trackBy:trackBydataId">
      <td>{{i+1}}</td>
      <td>{{val.id}}</td>
      <td>{{val.name}}</td>
      <td>{{val.gender}}</td>
      <td>{{val.age}}</td>
    </tr>
  </table>
  <br>
  <button (click)="getData()">Get More Data</button> -->

  <h3>Grouping with ngFor</h3>
  <ul *ngFor="let val of countryDetails">
    <li>
      {{val.country}}
      <!-- {{val.people}} -->
    </li>
    <ul *ngFor="let people of val.people">
      <li>
        {{people.name}}
      </li>
    </ul>
  </ul>  

</div>